<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Books List</h2>
<div>
  <p>Number of Favorites: <%= user.favorites.length %></p>
</div>
<div class="books-container">
   <% if (books && books.length) { %>
        <% books.forEach((book) => { %>
          <div class="books-box" onclick="navigateToBookDetail('<%= book._id %>')">
            <div class="image-box">
              <img src="<%= book.coverImage %>" alt="Book Cover" style="max-width: 100px;">
            </div>
            <span >
              <%= book.title %>
              <form action="/books/favorites/<%= book._id %>" method="POST">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <button type="submit">Favorites</button>
              </form>
            </span>
          </div>  
        <% }) %>
      <% } else { %>
        <p>No books available
        </p>
      <% } %>
     </div> 
     <script>
      function navigateToBookDetail(bookId){
        var bookDetailURL = '/books/'+ bookId;
        window.location.href = bookDetailURL;
      }
     </script>
     
<%- include("partials/footer.ejs") %>