<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>


<!-- Search Form -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary"> 
  <div class="container-fluid d-flex justify-content-end">
      <div class="d-flex">
    <a class="navbar-brand fs-5 text-success text-decoration-underline" href="/books/favoriteList" > Favorites</a>
      <form class="d-flex" action="/books/search" method="POST" >
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <input type="text" class="form-control me-2" name="search" id="searchInput" placeholder="Search titles">  
        <button class="btn btn-outline-success" type="submit" onclick = "return validateSearch()">Search</button>
      </form>
      </div>
      </div>
  </nav>

<!-- Favorite List-->
<div>
  <p></p>
</div>

<div class="container">
  <% if (books && books.length) { %>
    <div class="row">
      <% for (let i = 0; i < books.length; i += 6) { %>
        <div class="row mb-3">
          <% for (let j = i; j < i + 6 && j < books.length; j++) { %>
            <div class="col-12 col-md-4 col-lg-2 mb-3 d-flex flex-column align-items-center justify-content-center">   
              <div class="mb-3">
                <div class="d-flex align-items-center justify-content-center" style="height: 180px;"><a href="/books/<%= books[j]._id %>">       
                  <img src="<%= books[j].coverImage %>" alt="Book Cover" class="img-fluid" style="max-width: 100%; max-height: 100%; transition: transform 0.3s ease-in-out;"></a>   
                </div>           
              </div>  
              
              <!-- favorite button-->
              <% if (favorites && favorites.includes(books[j]._id)) { %>
                <button type="submit" class="btn btn-secondary align-self-center" disabled>One of favorites</button>
              <% } else { %>
                <form id="favoriteForm" action="/books/favorites/<%= books[j]._id %>" method="POST">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                  <button type="submit" class="btn btn-success align-self-center favorite-button" data-book-id="<%= books[j]._id %>">Mark as favorite</button>
                </form> 
              <% } %>             
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
    <!-- Pagination Controls -->
    <div class="col-12 d-flex justify-content-center bg-light p-2 bg-opacity-25">
      <% if (currentPage > 1) { %>
        <a style="font-weight:bold;color:green;margin-right: 15px;" href="?page=<%= currentPage - 1 %>">Previous</a>
      <% } %>

      <p class="text-dark ">Page <%= currentPage %> of <%= totalPages %></p>

      <% if (currentPage < totalPages) { %>
        <a style="font-weight:bold;color:green;margin-left: 15px;" href="?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
    </div>
  <% } else { %>
    <div class="col-12">
      <p>No books available</p>
    </div>
  <% } %>
</div>     
<script src="../scripts/validateSearch.js"></script>
<%- include("partials/footer.ejs") %>