<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<nav class="navbar navbar-expand-lg bg-body-tertiary"> 
  <div class="container-fluid d-flex ">
  <h6 style="color:black;font-style:italic">All you want to read...</h6>
      <div class="d-flex">
        <a class="navbar-brand fs-5 text-success text-decoration-underline" href="/books">BooksList</a>   
      </div>
      </div>
  </nav>
<div class="container">
   <% if (results.length > 0) { %>
        <% for (let i = 0; i < results.length; i += 6) { %>
            <div class="row mt-4">
                <% for (let j = i; j < i + 6 && j < results.length; j++) { %>
                  <div class="col-md-2 mb-3 d-flex flex-column align-items-center justify-content-center ">
                    <div class="d-flex mb-3 align-items-center justify-content-center" style="height: 180px;"><a href="/books/<%= results[j]._id %>">       
                        <img src="<%= results[j].coverImage %>" alt="Book Cover" class="img-fluid" style="max-width: 100%; max-height: 100%;  transition: transform 0.3s ease-in-out;" ></a>   
                     </div>   
                     <form action="/books/deleteFavorite/<%= results[j]._id %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        <button type="submit" class="btn btn-danger align-self-center favorite-button" data-book-id="<%= results[j]._id %>">Delete </button>
                    </form>       
                 </div>                     
                <% } %>
            </div>
        <% } %>
    <% } else { %>
        <p>No results found</p>
    <% } %>
</div>
<%- include("partials/footer.ejs") %>
